
*.editorconfig
*.vsidx
*.lock
.vs/Breaking-Virus/v17/.wsuo
*.json
*.sqlite
*.cache
BreakingVirus-Server/BreakingVirus-Server/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BreakingVirus-Server/BreakingVirus-Server/obj/Release/net6.0/BreakingVirus-Server.AssemblyInfo.cs
BreakingVirus-Server/BreakingVirus-Server/obj/Release/net6.0/BreakingVirus-Server.GlobalUsings.g.cs
